<div class="wrapper">
    <div class="topper">
        <h1>DungeonScript</h1>
    </div>
    <main>
        <div class="buttons_holder">
            <button type="button" class="main_menu_button"><a href="#/new_game">Play</a></button>
            <button type="button" class="main_menu_button">Login</button>
            <button type="button" class="main_menu_button"><a href="#/settings">Settings</a></button>
            <button type="button" class="main_menu_button">About</button>
        </div>
    </main>
    <footer>

    </footer>
</div>